.form {
    margin-left: 5vw;
    margin-right: 5vw;
    height: 80vh;
    overflow-y: auto;
}

.inside {
    margin-left: 0.5em; 
    margin-right: 3em;

}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
    justify-content: space-between;
}

.first {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
}

.last {
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: column;
}

.green {
    color: #21BA45;
    font-weight: 600;
}

.red {
    color: #DB2828;
    font-weight: 600;
}

.grey {
    color: grey;
}

.blue {
    color: #2185D0;
    font-weight: 600;
}

.zero {
    margin-left: 1vw;
}
